@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll functionality */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.new-font {
  font-family: "Montserrat";
}

.testimonial-slider .slick-dots li button:before {
  color: black;
  opacity: 1;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .review-main {
    height: 65vh;
    position: relative;
    overflow: hidden;
  }
}

/* reviews.css or global styles */
@media (min-width: 1024px) {
  .testimonial-slider .slick-slide {
    padding: 0 12px;
  }

  .testimonial-slider .slick-list {
    margin: 0 -12px;
  }
}
